---
import Layout from "../layouts/Layout.astro";
import App from "../components/App";
import SpeedInsights from "@vercel/speed-insights/astro";

import { GET } from "./word.json";
---

<Layout title="Semantical">
  <SpeedInsights />
  <main>
    <App client:only />
    <style>
      main {
        margin: auto;
        padding: 0rem;
        width: 100vw;
        height: 100vh;
        color: white;
        font-size: 20px;
        line-height: 1.6;
      }
    </style>
  </main>
</Layout>
